USE [master]
GO
/****** Object:  Database [NutriPlan_Zdornikova]    Script Date: 09.04.2026 1:54:18 ******/
CREATE DATABASE [NutriPlan_Zdornikova]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NutriPlan_Zdornikova', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\NutriPlan_Zdornikova.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NutriPlan_Zdornikova_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\NutriPlan_Zdornikova_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NutriPlan_Zdornikova].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NutriPlan_Zdornikova]
GO
/****** Object:  Table [dbo].[ActivityLevel]    Script Date: 09.04.2026 1:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLevel](
	[idActivity] [int] IDENTITY(1,1) NOT NULL,
	[nameActivity] [nvarchar](100) NOT NULL,
	[PAL] [float] NOT NULL,
 CONSTRAINT [PK_ActivityLevel] PRIMARY KEY CLUSTERED 
(
	[idActivity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dishes]    Script Date: 09.04.2026 1:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dishes](
	[Id] [int] NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[CaloriesPer100G] [int] NOT NULL,
	[ProteinPer100G] [float] NOT NULL,
	[FatPer100G] [float] NOT NULL,
	[CarbsPer100G] [float] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Created_by] [int] NOT NULL,
	[ViewDishes] [int] NULL,
 CONSTRAINT [PK_dishes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodLogs]    Script Date: 09.04.2026 1:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodLogs](
	[Id] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[DishId] [int] NOT NULL,
	[IdMealType] [int] NOT NULL,
	[WeightGrams] [float] NOT NULL,
	[LogDate] [date] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_FoodLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 09.04.2026 1:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[IdGender] [int] IDENTITY(1,1) NOT NULL,
	[NameGender] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[IdGender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goal]    Script Date: 09.04.2026 1:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goal](
	[IdGoal] [int] IDENTITY(1,1) NOT NULL,
	[NameGoal] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Goal] PRIMARY KEY CLUSTERED 
(
	[IdGoal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 09.04.2026 1:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[NameRole] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypesMeal]    Script Date: 09.04.2026 1:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypesMeal](
	[idTypesMeal] [int] IDENTITY(1,1) NOT NULL,
	[NameTypes] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TypesMeal] PRIMARY KEY CLUSTERED 
(
	[idTypesMeal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 09.04.2026 1:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[UserId] [int] NOT NULL,
	[DateOfBirthday] [date] NOT NULL,
	[heightCM] [int] NOT NULL,
	[weightCM] [float] NOT NULL,
	[DailyCalories] [int] NOT NULL,
	[Updatet_at] [datetime] NOT NULL,
	[IdGender] [int] NOT NULL,
	[idGoal] [int] NOT NULL,
	[IdActivityLevel] [int] NOT NULL,
 CONSTRAINT [PK_UserProfiles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09.04.2026 1:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[IdRole] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViewDishes]    Script Date: 09.04.2026 1:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViewDishes](
	[IdView] [int] NOT NULL,
	[NameView] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ViewDishes] PRIMARY KEY CLUSTERED 
(
	[IdView] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeightHistory]    Script Date: 09.04.2026 1:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeightHistory](
	[idWeight] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[WeghtKg] [float] NOT NULL,
	[RecordDate] [datetime] NOT NULL,
 CONSTRAINT [PK_WeightHistory] PRIMARY KEY CLUSTERED 
(
	[idWeight] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActivityLevel] ON 

INSERT [dbo].[ActivityLevel] ([idActivity], [nameActivity], [PAL]) VALUES (1, N'Минимальный (Сидячий образ жизни)', 1.2)
INSERT [dbo].[ActivityLevel] ([idActivity], [nameActivity], [PAL]) VALUES (2, N'Низкий (Легкая активность)', 1.375)
INSERT [dbo].[ActivityLevel] ([idActivity], [nameActivity], [PAL]) VALUES (3, N'Умеренный (Средняя активность)
', 1.55)
SET IDENTITY_INSERT [dbo].[ActivityLevel] OFF
GO
INSERT [dbo].[dishes] ([Id], [name], [CaloriesPer100G], [ProteinPer100G], [FatPer100G], [CarbsPer100G], [IsActive], [Created_by], [ViewDishes]) VALUES (1, N'Борщ с говядиной', 45, 3.5, 2, 4.5, 1, 1, 1)
INSERT [dbo].[dishes] ([Id], [name], [CaloriesPer100G], [ProteinPer100G], [FatPer100G], [CarbsPer100G], [IsActive], [Created_by], [ViewDishes]) VALUES (2, N'Куриный суп с лапшой', 50, 4, 1.5, 6, 1, 1, 1)
INSERT [dbo].[dishes] ([Id], [name], [CaloriesPer100G], [ProteinPer100G], [FatPer100G], [CarbsPer100G], [IsActive], [Created_by], [ViewDishes]) VALUES (3, N'Гороховый суп', 65, 4.5, 2.5, 8, 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([IdGender], [NameGender]) VALUES (1, N'Мужчина')
INSERT [dbo].[Gender] ([IdGender], [NameGender]) VALUES (2, N'Женщина')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[Goal] ON 

INSERT [dbo].[Goal] ([IdGoal], [NameGoal]) VALUES (1, N'Снижение веса ')
INSERT [dbo].[Goal] ([IdGoal], [NameGoal]) VALUES (2, N'Поддержание веса')
INSERT [dbo].[Goal] ([IdGoal], [NameGoal]) VALUES (3, N'Набор мышечной массы')
SET IDENTITY_INSERT [dbo].[Goal] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (2, N'user')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[TypesMeal] ON 

INSERT [dbo].[TypesMeal] ([idTypesMeal], [NameTypes]) VALUES (1, N'Завтрак')
INSERT [dbo].[TypesMeal] ([idTypesMeal], [NameTypes]) VALUES (2, N'Обед')
INSERT [dbo].[TypesMeal] ([idTypesMeal], [NameTypes]) VALUES (3, N'Ужин')
SET IDENTITY_INSERT [dbo].[TypesMeal] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [email], [PasswordHash], [is_active], [created_at], [IdRole]) VALUES (1, N'Admin', N'admin@test.com', N'admin123', 1, CAST(N'2026-04-08T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Users] ([Id], [FullName], [email], [PasswordHash], [is_active], [created_at], [IdRole]) VALUES (2, N'asdas', N'namenastya@gmail.com', N'qweqweqwe', 1, CAST(N'2026-04-09T00:45:55.197' AS DateTime), 2)
INSERT [dbo].[Users] ([Id], [FullName], [email], [PasswordHash], [is_active], [created_at], [IdRole]) VALUES (3, N'way', N'namenastua@gmail.com', N'123456', 1, CAST(N'2026-04-09T01:26:09.300' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[ViewDishes] ([IdView], [NameView]) VALUES (1, N'Супы и горячее')
INSERT [dbo].[ViewDishes] ([IdView], [NameView]) VALUES (2, N'Завтраки и перекусы')
INSERT [dbo].[ViewDishes] ([IdView], [NameView]) VALUES (3, N'Салаты')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users]    Script Date: 09.04.2026 1:54:18 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users] ON [dbo].[Users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[dishes]  WITH CHECK ADD  CONSTRAINT [FK_dishes_Users] FOREIGN KEY([Created_by])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[dishes] CHECK CONSTRAINT [FK_dishes_Users]
GO
ALTER TABLE [dbo].[dishes]  WITH CHECK ADD  CONSTRAINT [FK_dishes_ViewDishes] FOREIGN KEY([ViewDishes])
REFERENCES [dbo].[ViewDishes] ([IdView])
GO
ALTER TABLE [dbo].[dishes] CHECK CONSTRAINT [FK_dishes_ViewDishes]
GO
ALTER TABLE [dbo].[FoodLogs]  WITH CHECK ADD  CONSTRAINT [FK_FoodLogs_dishes] FOREIGN KEY([DishId])
REFERENCES [dbo].[dishes] ([Id])
GO
ALTER TABLE [dbo].[FoodLogs] CHECK CONSTRAINT [FK_FoodLogs_dishes]
GO
ALTER TABLE [dbo].[FoodLogs]  WITH CHECK ADD  CONSTRAINT [FK_FoodLogs_TypesMeal] FOREIGN KEY([IdMealType])
REFERENCES [dbo].[TypesMeal] ([idTypesMeal])
GO
ALTER TABLE [dbo].[FoodLogs] CHECK CONSTRAINT [FK_FoodLogs_TypesMeal]
GO
ALTER TABLE [dbo].[FoodLogs]  WITH CHECK ADD  CONSTRAINT [FK_FoodLogs_UserProfiles] FOREIGN KEY([userId])
REFERENCES [dbo].[UserProfiles] ([UserId])
GO
ALTER TABLE [dbo].[FoodLogs] CHECK CONSTRAINT [FK_FoodLogs_UserProfiles]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_UserProfiles_ActivityLevel] FOREIGN KEY([IdActivityLevel])
REFERENCES [dbo].[ActivityLevel] ([idActivity])
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [FK_UserProfiles_ActivityLevel]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_UserProfiles_Gender] FOREIGN KEY([IdGender])
REFERENCES [dbo].[Gender] ([IdGender])
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [FK_UserProfiles_Gender]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_UserProfiles_Goal] FOREIGN KEY([idGoal])
REFERENCES [dbo].[Goal] ([IdGoal])
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [FK_UserProfiles_Goal]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_UserProfiles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [FK_UserProfiles_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
ALTER TABLE [dbo].[WeightHistory]  WITH CHECK ADD  CONSTRAINT [FK_WeightHistory_UserProfiles] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserProfiles] ([UserId])
GO
ALTER TABLE [dbo].[WeightHistory] CHECK CONSTRAINT [FK_WeightHistory_UserProfiles]
GO
USE [master]
GO
